<html lang="en">
  <head>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.0/bootstrap-table.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <input
      type="hidden"
      value="<%=JSON.stringify(recordData)%>"
      id="recordData"
    />

    <div class="container">
      <div class="row">
        <div id="chart-area"></div>
        <div id="chart"></div>
      </div>
      <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Report Data</th>
            <th>Report Data</th>
            <th>Total</th>
            <th>Success</th>
            <th>Failed</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Donna Snider</td>
            <td>Automation Test Bench</td>
            <td id="total">60</td>
            <td id="success">20</td>
            <td id="failed">30</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/graph.js"></script>
    <script src="/pieChart.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"
      integrity="sha512-AcZyhRP/tbAEsXCCGlziPun5iFvcSUpEz2jKkx0blkYKbxU81F+iq8FURwPn1sYFeksJ+sDDrI5XujsqSobWdQ=="
      crossorigin="anonymous"
    ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script src="./dataTable.js"></script>
  </body>
</html>
