#chart-area svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: auto;
  background-color: #fff;
}
#chart-area svg rect,
#chart-area svg text {
  fill: #682d68a3;
}
#chart-area svg path {
  stroke: #333;
}